

.scroll::-webkit-scrollbar {
  display: none;
}


.none {
  display: none;
}

.active {
  display: block !important;
  min-height: 500px;
  opacity: 1 !important;
  transition: 3s;
  margin-top: 30px;
  z-index: 9999;
  position: absolute;
  width: 100%;
  height: 100%;
  right: 0;
}

.active-block {
  display: block !important;
  display: flex !important;
}

.active-brand {
  display: block !important;
  position: absolute;
  right: 0;
  z-index: 999999999;
}

/* Setting */
.om-change-password:hover img {
  opacity: 1;
  height: max-content;
}
.om-change-password:hover a .om-change-password {
  left: 0;
  transform: translateX(0);
}

/*Setting end*/
/*Setting end*/
/* Favourite */
.selected .orimart-head {
  display: none;
}
.selected .check-1 {
  display: flex;
}

.om-empty .left-arrow {
  display: block;
  margin-right: auto;
}
.om-empty .search-bar {
  display: none;
}
.om-empty .logo {
  margin-left: 0;
  margin-right: auto;
}

.fav .select {
  display: none;
}
.fav .empty-state {
  display: flex;
}
.fav .pdf {
  display: none;
}

.check .remove {
  display: flex;
}

.remove-fav .removed {
  display: block;
}

.gray {
  background: #080808b6;
  right: 0;
  z-index: 0;
}

.checkbox input:checked {
  background-color: #00ADEF !important;
  color: #00ADEF !important;
  box-shadow: unset;
}
.checkbox input:focus {
  box-shadow: unset;
}

.apply {
  z-index: 99999999;
  position: fixed;
  bottom: 0;
  left: 0;
  box-shadow: 0px -2px 11px rgba(0, 0, 0, 0.25);
}

/*Setting*/
/* Favourite end*/
@media screen and (max-width: 525px) {
  .om-show-top {
    position: absolute;
    top: 0%;
    transition: all 0.8s ease-in-out;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
  }
}
.om-search-on {
  background-color: black;
  border-bottom: none;
}
.om-search-on .om-makita {
  width: 100%;
}
.om-search-on .om-makita .om-white-makita {
  display: none;
}
.om-search-on .om-makita h4 {
  display: block;
}
.om-search-on .om-makita input {
  display: none;
}
.om-search-on .om-backicon img {
  display: block;
}
.om-search-on .om-backicon img:last-child {
  display: none;
}
.om-search-on .om-brands {
  display: block;
}
.om-search-on .om-searchicon img {
  display: block;
}
.om-search-on .om-searchicon img:nth-child(3), .om-search-on .om-searchicon img:nth-child(2) {
  display: none;
}

@media screen and (max-width: 525px) {
  .om-collection-top {
    position: absolute;
    top: -180px;
    z-index: -1;
    transition: all 0.8s ease-in-out;
  }
  .om-collection-top .om-top-rounded {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
  }
}
.om-menu-icons {
  display: block;
}
.om-menu-icons .om-active-menus {
  display: none;
}
.om-menu-icons .om-active-menus img {
  transition: all 0.5s ease-in-out;
  bottom: -7px;
}

.om-field-normal {
  border-color: #BBB9B9;
}

.om-field-active {
  border-color: #7A7A7A;
}

input:focus {
  box-shadow: none !important;
  outline: none;
}

.om-login-field.error-found .om-input-field {
  border: 2px solid #BE0808;
  animation-name: error-vibration;
  animation-duration: 1s;
}
.om-login-field.error-found .error-msg {
  display: flex;
}

.om-brand-card .om-share-shade {
  background: rgba(0, 0, 0, 0.479);
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  z-index: -1;
}
.om-brand-card .om-share-shade .om-sharing {
  height: 200px;
  transition: all 0.5s ease-in-out;
  display: block;
  position: absolute;
  width: 100%;
  top: 100%;
}
.om-brand-card .om-share-shade.om-show {
  z-index: 10;
}
.om-brand-card .om-share-shade.om-show .om-sharing {
  top: calc(100% - 200px);
}

@keyframes error-vibration {
  0% {
    margin-left: 0;
  }
  25% {
    margin-left: 5px;
  }
  50% {
    margin-left: 0;
  }
  75% {
    margin-left: 5px;
  }
  100% {
    margin-left: 0px;
  }
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.om-header .om-show-searchbar {
  background-color: white;
  border-bottom: 2px solid #CCCCCC !important;
}
.om-header .om-show-searchbar .om-chavron-close .om-chavron {
  display: block;
}
.om-header .om-show-searchbar .om-logo-img {
  display: none;
}
.om-header .om-show-searchbar .om-close-search-img .om-search-left {
  display: none;
}
.om-header .om-show-searchbar .om-search-bar {
  width: 100%;
}

.footer-icon {
  padding-bottom: 7px;
}
.footer-icon img {
  transition: all 0.5s;
  top: 0;
}
.footer-icon:after {
  content: "";
  display: block;
  position: absolute;
  width: 0;
  border-radius: 30px;
  height: 3px;
  background: #00ADEF;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
  transition: all 0.5s;
}
.footer-icon:hover img {
  opacity: 0;
}
.footer-icon:hover .om-footer-active-img {
  opacity: 1;
  top: -6px;
}
.footer-icon:hover:after {
  width: 8px;
}
.footer-icon.card-active img {
  opacity: 0;
}
.footer-icon.card-active .om-footer-active-img {
  opacity: 1;
  top: -6px;
}
.footer-icon.card-active:after {
  width: 8px;
}

.om-fav-header .om-chavron-close .om-chavron {
  display: none;
}
.om-fav-header.om-active .om-chavron-close .om-close {
  display: block;
}
.om-fav-header.om-active .om-logo {
  justify-content: start;
  width: calc(100vw - 79px);
}
.om-fav-header.om-active .om-logo > div:first-child {
  display: none;
}
.om-fav-header.om-active .om-logo > p {
  display: block;
}
.om-fav-header.om-active .om-close-search-img {
  display: none;
}

.om-fav-card.om-active .om-select {
  display: block;
}
.om-fav-card.om-active .om-deselect {
  display: none;
}
.om-fav-card.om-active .om-fav-select {
  padding: 11px;
  margin: 0 20px 0 12px;
  border: 1px solid #00ADEF;
}
.om-fav-card.om-active.om-allselect .om-select {
  display: none;
}
.om-fav-card.om-active.om-allselect .om-deselect {
  display: block;
}
.om-fav-card .om-fav-select {
  width: 0;
  padding: 0;
  border: 0;
  margin: 0;
  transition: all 0.5s;
}

.om-company-header {
  background-color: #1c1c1c;
}
.om-company-header .om-container {
  border: none;
}

.om-sort-list .om-input-check:checked + .om-check-label {
  color: #00ADEF;
}
.om-sort-list .om-input-check:checked + .om-check-label img {
  opacity: 1;
}

[x-cloak] {
  display: none;
}

/*# sourceMappingURL=index.css.map */
