body {
    &::before {
        display: none !important;
    }
}


.scroll {
    &::-webkit-scrollbar {
        display: none;
    }
}

.none {
    display: none;
}






// searching-header//


.om-search-on {
    background-color: black;
    border-bottom: none;

    .om-makita {
        width: 100%;

        .om-white-makita {
            display: none;
        }

        h4 {
            display: block;
        }

        input {
            display: none;
        }
    }

    .om-backicon {
        img {
            display: block;

            &:last-child {
                display: none;
            }
        }
    }

    .om-brands {
        display: block;
    }

    .om-makita {}

    .om-searchicon {
        img {
            display: block;

            &:nth-child(3),
            &:nth-child(2) {
                display: none;
            }
        }
    }
}



// login input field normal states

.om-field-normal {
    border-color: #BBB9B9;

}

// login input field active  states
.om-field-active {
    border-color: #7A7A7A;

}

//  input field focus reseter
input {
    &:focus {
        box-shadow: none !important;
        outline: none;
    }
}

//errror effect
.om-login-field {
    &.error-found {
        .om-input-field {
            border: 2px solid #BE0808;
            animation-name: error-vibration;
            animation-duration: 1s;
        }

        .error-msg {
            display: flex;
        }
    }
}


// animation for error 
@keyframes error-vibration {
    0% {
        margin-left: 0;
    }

    25% {
        margin-left: 5px;
    }

    50% {
        margin-left: 0;
    }

    75% {
        margin-left: 5px;
    }

    100% {
        margin-left: 0px;
    }
}

//remove input number spin box
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}



[x-cloak] {
    display: none;
}